.dl {
    margin: 0 auto;
}
.btn {
    font-size: 1.6rem;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 9px 50px 10px;
    margin: 30px 10px 60px 10px;
    // line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.active {
    background: #339BFF;
}
.hidden {
    display: none;
}
.dl-button {
    margin-bottom: 30px;
    text-align: center;
}
.box {
    width: 100%;
    background: #72ECE2;
}