section,
header,
footer {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    // color: $link-color;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #565656;
	margin: 0 auto;
}

img {
    // Responsive IMGs
    max-width: 100%;
    width: auto\9; /*iefix*/
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.logo {
	padding: 15px 15px 15px 15px;
	height: 325px;
	// float: left;
}

.img-center {
    margin: 0 auto;
    display: block;
}

header {
	max-width: 600px;
	margin: 0 auto;
}
section {
}
.black {
	background: #000 !important;
}
.no-top {
	padding: 0 0 0 0 !important;
}
.bubbles {
	background: rgb(120,236,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(234, 111, 0, 1) 0%, rgba(224, 80, 27, 1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234, 111, 0, 1)), color-stop(100%,rgba(224, 80, 27, 1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234, 111, 0, 1) 0%,rgba(224, 80, 27, 1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234, 111, 0, 1) 0%,rgba(224, 80, 27, 1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234, 111, 0, 1) 0%,rgba(224, 80, 27, 1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(234, 111, 0, 1) 0%,rgba(224, 80, 27, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78ece2', endColorstr='#5bcdf3',GradientType=0 ); /* IE6-9 */
padding-bottom: 20px;
	// background-image: url('/images/bg.png');
}
.bubbles2 {
	background: rgb(91,205,243); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224, 80, 27, 1) 0%, rgba(214, 53, 46, 1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224, 80, 27, 1)), color-stop(100%,rgba(214, 53, 46, 1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224, 80, 27, 1) 0%,rgba(214, 53, 46, 1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224, 80, 27, 1) 0%,rgba(214, 53, 46, 1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224, 80, 27, 1) 0%,rgba(214, 53, 46, 1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224, 80, 27, 1) 0%,rgba(214, 53, 46, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bcdf3', endColorstr='#3694ff',GradientType=0 ); /* IE6-9 */

}
.container {

	max-width: 600px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	& h1 {
		font-size: 4rem;
		opacity: 0.8;
		font-weight: 300;
		text-align: center;
		margin: 0;
		color: #fff;
	}
	& h2 {
		font-size: 1.8rem;
		opacity: 0.8;
		font-weight: 300;
		text-align: center;
		margin: 8px 0 35px 0;
		color: #fff;
		margin-bottom: 10px;
	}
	& h3 {
		font-size: 1.8rem;
		opacity: 0.8;
		font-weight: 300;
		text-align: center;
		margin: 40px 0 0px 0;
		color: #fff;
	}
	& h4 {
		font-size: 3.0rem;
		opacity: 0.8;
		font-weight: 300;
		text-align: center;
		margin: 10px 0 10px 0;
		color: #fff;
	}
	& p {
		opacity: 0.8;
		font-weight: 300;
		font-size: 1.4rem;
		color: #fff;
		line-height: 1.75rem;
	}
	& a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
}
.dl {
	margin: 0 auto;
}
.social-t {
	padding-top: 10px;
	float: left;
	display: block;
	margin-bottom: 25px;
}
.social-f {
	padding-top: 10px;
	float: right;
	display: block;
	margin-bottom: 25px;
}
.green {
	background: #ff4631;
}
.blue {
	background: #339BFF;
}
.red {
	background: #F36872;
}
.btn {
	font-size: 1.6rem;
  border: none;
  color: #ffffff;
  width: 100%;
  padding: 9px 50px 10px;
  margin: 30px 10px 60px 10px;
  // line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  // opacity: 0.7;
  background: #dfdfdf;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.dl-button {
	margin-bottom: 30px;
	text-align: center;
}
.box {
	width: 100%;
	background: #72ECE2;
}